In [3]:
import duckdb

con = duckdb.connect("../data/warehouse/olist.duckdb")

In [4]:
con.execute("SHOW TABLES").fetchall()

[('customers',),
 ('order_items',),
 ('orders',),
 ('payments',),
 ('products',),
 ('reviews',),
 ('sellers',)]

In [5]:
con.execute("DESCRIBE orders").fetchdf()

                     column_name column_type null   key default extra
0                       order_id     VARCHAR  YES  None    None  None
1                    customer_id     VARCHAR  YES  None    None  None
2                   order_status     VARCHAR  YES  None    None  None
3       order_purchase_timestamp     VARCHAR  YES  None    None  None
4              order_approved_at     VARCHAR  YES  None    None  None
5   order_delivered_carrier_date     VARCHAR  YES  None    None  None
6  order_delivered_customer_date     VARCHAR  YES  None    None  None
7  order_estimated_delivery_date     VARCHAR  YES  None    None  None

In [6]:
con.execute("DESCRIBE order_items").fetchdf()

           column_name column_type null   key default extra
0             order_id     VARCHAR  YES  None    None  None
1        order_item_id      BIGINT  YES  None    None  None
2           product_id     VARCHAR  YES  None    None  None
3            seller_id     VARCHAR  YES  None    None  None
4  shipping_limit_date     VARCHAR  YES  None    None  None
5                price      DOUBLE  YES  None    None  None
6        freight_value      DOUBLE  YES  None    None  None

In [9]:
con.execute("DESCRIBE payments").fetchdf()

            column_name column_type null   key default extra
0              order_id     VARCHAR  YES  None    None  None
1    payment_sequential      BIGINT  YES  None    None  None
2          payment_type     VARCHAR  YES  None    None  None
3  payment_installments      BIGINT  YES  None    None  None
4         payment_value      DOUBLE  YES  None    None  None